n8n/wishlistWorkflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wishlist",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        -240
      ],
      "id": "d6d5f5d0-fb5d-4392-8d0f-78017dca20bf",
      "name": "Webhook",
      "webhookId": "4db41c7d-24db-4c0d-ad0c-2d460da3895d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tell me a short joke about eleves. The elev's name is {{ $json.body.wishlistFrom }} with the wish: {{ $json.body.wishlistContent }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        368,
        -240
      ],
      "id": "33c83455-3eee-4582-9832-287efe26544f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "microsoft/phi-4-reasoning-plus",
          "mode": "list",
          "cachedResultName": "microsoft/phi-4-reasoning-plus"
        },
        "builtInTools": {},
        "options": {
          "timeout": 300000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        -32
      ],
      "id": "f3379871-8098-41c6-93d4-f7391571e0c6",
      "name": "local LM inference",
      "credentials": {
        "openAiApi": {
          "id": "lhFzSYvGruO1TFBR",
          "name": "local LM studio"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8086/inbound/wishlistN8nResponse",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        -240
      ],
      "id": "e018e05d-1a1b-42e4-9678-59ef1f8e2d30",
      "name": "Send response to camunda process instance"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "local LM inference": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send response to camunda process instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87f0be60-ec40-4909-a8a4-ca545e48d2e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5c84fade61331d668df6a9fc70fd1aea60f0b8e8da7deff538ae9d25e28200b"
  },
  "id": "bJRoYVybzeRLZBX7",
  "tags": []
}